<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="msr-card-front">
        <ng-content select="[msrCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="msr-card-back">
        <ng-content select="[msrCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="msr-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[msrCardExpansion]"></ng-content>
    </div>

</ng-container>
